{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
